<div class="row" style="margin:20px 0px 0px; ">
  <div class="col-md-6 col-sm-12">
    <h3 style="line-height: 40px;" class="main_heading">Imports & Data Management</h3>
  </div>
  <div class="col-md-6 col-sm-12 heading_buttons_container">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-default btn-sm" style="width:100px; color:#000000;" onclick="show_modal('#uploaderModal')">
          <i class="la la-plus"></i> <strong>Add</strong>
        </button>
        <button type="button" class="btn btn-default btn-sm" style="width:100px; color:#000000;" onclick="delete_selected_records()">
          <i class="la la-trash"></i> <strong>Delete</strong>
        </button>
      </div>
  </div>
</div>
<hr style="margin-top:0px;" />

<div class="row">
  <!-- Nav Tabs Start -->

  <div class="col-sm-12">

    {% include 'base/alert_components.html' %}

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_imports' 'master' %}" id="tab_master">Master</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'manage_imports' 'product' %}" id="tab_product">Basel Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_imports' 'collateral' %}" id="tab_collateral">Basel Collateral</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_imports' 'pd' %}" id="tab_pd">PD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_imports' 'lgd' %}" id="tab_lgd">LGD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_imports' 'stage' %}" id="tab_stage">Stage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_imports' 'eir' %}" id="tab_eir">EIR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_imports' 'ecl' %}" id="tab_ecl">ECL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_imports' 'ead' %}" id="tab_ead">EAD</a>
      </li>
    </ul>

    <!-- Tab panes start -->
    <div class="tab-content" style="padding:10px 0px;">
      <div class="table-responsive">
        <form method="post" action="">
          {% csrf_token %}
          <table class="table table-bordered" style="background-color: #dee2e6;">
            <tr>
              <td style="font-size:13px;line-height: 38px; text-align:right; font-weight:bold;">Product Code</td>
              <td style="line-height: 38px;">
                <input type="text" name="product_code" class="form-control">
              </td>
              <td style="font-size:13px;line-height: 38px; text-align:right; font-weight:bold;">Product Name</td>
              <td style="line-height: 38px;">
                <input type="text" name="product_name" class="form-control">
              </td>
              <td>
                <input type="submit" value="Quick Search" name="submit" class="btn btn-primary">
              </td>
            </tr>
          </table>
        </form>
      </div>

      <div class="table-responsive">
        <form action="" method="post" id="move_all_to_final">
          {% csrf_token %}
        <table class="table table-bordered">
          <thead class="text-center" style="background-color:#ddd; font-size:13px; white-space: nowrap;">
            <th><input type="checkbox" class="checkbox_all"></th>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Product Catgory</th>
            <th>Basel Product</th>
            <th>Basel Product Code</th>
            <th>Drawn CCF</th>
            <th>CCF Upto 1 yr</th>
            <th>CCF > 1 yr</th>
            <th>Action</th>
          </thead>
          <tbody style="font-size:12px; white-space: nowrap;">
            {% for row in items_list %}
              <tr>
                <td class="text-center">
                  <input type="checkbox" value="{{row.id}}" class="checkbox_one" name="checkbox_one">
                </td>
                <td>{{row.product_name|default_if_none:''}}</td>
                <td>{{row.product_code|default_if_none:''}}</td>
                <td>{{row.product_catgory|default_if_none:''}}</td>
                <td>{{row.basel_product|default_if_none:''}}</td>
                <td>{{row.basel_product_code|default_if_none:''}}</td>
                <td>{{row.drawn_cff|default_if_none:''}}</td>
                <td>{{row.cff_upto_1_yr|default_if_none:''}}</td>
                <td>{{row.cff_gt_1_yr|default_if_none:''}}</td>
                <td class="text-center p-0">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" onclick="load_edit_data({{row.id}})" class="btn btn-icon btn-sm">
                      <i class="la la-pencil" aria-hidden="true" style="font-size: 25px;line-height: 30px;"></i>
                    </button>
                    <button type="button" params="{% url 'delete_record' 'product' row.id %}" class="btn btn-icon btn-sm" onclick="delete_single_record(this)">
                      <i class="la la-trash" aria-hidden="true" style="font-size: 25px;line-height: 30px; color:#FF0000;"></i>
                    </button>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </form>
      </div>


    </div>

    <!-- Tab panes end -->
  </div>
  <!-- Nav Tabs End -->

</div>

<!-- -->
<div class="modal fade" id="uploaderModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'import_data_from_file' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{tab_status}}" name="import_type">
        <div class="modal-header text-white">
          <h5 class="modal-title" id="exampleModalLabel">Upload CSV File</h5>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label for="formFile" class="form-label">Basel Product Master</label>
              <input class="form-control" required type="file" name="formFile" accept=".csv">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- EDIT MODAL -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'edit_record' tab_status %}">
        {% csrf_token %}
        <input type="hidden" value="" name="id" id="edit_id">
        <div class="modal-header text-white">
          <h5 class="modal-title">Edit Basel Product Record</h5>
        </div>
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label for="formFile" class="form-label">Product Name</label>
                <input class="form-control" type="text" name="product_name" id="edit_product_name">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label for="formFile" class="form-label">Product Code</label>
                <input class="form-control" type="text" name="product_code" id="edit_product_code">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="formFile" class="form-label">Product Category</label>
                <input class="form-control" type="text" name="product_catgory" id="edit_product_catgory">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label for="formFile" class="form-label">Basel Product</label>
                <input class="form-control" type="text" name="basel_product" id="edit_basel_product">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="formFile" class="form-label">Basel Product Code</label>
                <input class="form-control" type="text" name="basel_product_code" id="edit_basel_product_code">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label for="formFile" class="form-label">Drawn CCF</label>
                <input class="form-control" type="text" name="drawn_cff" id="edit_drawn_cff">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="formFile" class="form-label">CCF Upto 1 Year</label>
                <input class="form-control" type="text" name="cff_upto_1_yr" id="edit_cff_upto_1_yr">
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label for="formFile" class="form-label">CCF > 1 Year</label>
                <input class="form-control" type="text" name="cff_gt_1_yr" id="edit_cff_gt_1_yr">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  var status = {{tab_active}};

  var jsdata = {{items_list_json|safe}};

  console.log(jsdata);

  var delete_selected_url = '{% url "delete_selected_records" "product" %}'


</script>
