{% load custom_tags %}
<div class="row" style="margin:20px 0px 0px; ">
  <div class="col-md-6 col-sm-12">
    <h3 style="line-height: 40px;" class="main_heading">Account, Product & Collaterals Mapping</h3>
  </div>
  <div class="col-md-6 col-sm-12 heading_buttons_container">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{% url 'manage_imports' %}" class="btn btn-default btn-sm" style="width:100px; color:#000000;">
        <i class="la la-angle-double-left"></i> <strong>Back</strong>
      </a>
      <button href="" onclick="delete_collateral()" class="btn btn-default btn-sm" style="width:100px; color:#000000;">
        <i class="la la-trash"></i> <strong>Delete</strong>
      </button>
    </div>
  </div>
</div>
<hr style="margin-top:0px;" />

{% include 'base/alert_components.html' %}

<div class="row row_counter">
  <span>No.of Records{% if search_view %} Searched{% endif %} : {{ items_list|length }}</span>
</div>

<div class="row table-responsive" style="overflow:scroll; margin:1px;">
  <table class="table table-bordered" id="manage_user_table" style="margin-top:10px;">
    <thead style="background-color:#eeeeee;">
      <th class="text-center">Account No</th>
      <th class="text-center">Product Code</th>
      <th class="text-center">Product Name</th>
      <th class="text-center">Basel Collateral Code</th>
      <th class="text-center">Collateral Value</th>
      <th class="text-center">Collateral Rating</th>
      <th class="text-center">Collateral Residual Maturity</th>
      <th>Action</th>
    </thead>
    <tbody style="font-size:13px;">
      {% for rows in items_list.items %}
        {% for row in rows.1.data %}
          <tr style="background-color:{{rows.1.bgcolor}}">
            <td>{{row.Account_no|default_if_none:''}}</td>
            <td>{{row.product_code|default_if_none:''}}</td>
            <td>{{row.product_name|default_if_none:''}}</td>
            <td>{{row.basel_collateral_code|default_if_none:''}}</td>
            <td>{{row.collateral_value|default_if_none:''}}</td>
            <td>{{row.collateral_rating|default_if_none:''}}</td>
            <td>{{row.collateral_residual_maturity|default_if_none:''}}</td>
            <td class="text-center p-0">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button onclick="return false" class="btn btn-icon btn-sm">
                  <i class="la la-pencil" aria-hidden="true" style="font-size: 25px;line-height: 30px; color:#000000;"></i>
                </button>
                <button onclick="return false" class="btn btn-icon btn-sm">
                  <i class="la la-trash" aria-hidden="true" style="font-size: 25px;line-height: 30px; color:#FF0000;"></i>
                </button>
              </div>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>

<script>

function delete_collateral(){

  num_records = {{ items_list|length }};

  if(num_records == 0){
    alert("No records to delete.");
  }else{
    var r1 = confirm("Do you want to continue? This will delete all the records");
    if (r1 == true) {
      $.get("{% url 'delete_collateral' %}", function(data){
        location.reload();
      });
    }
  }


}

</script>
